<%= content_for(:title, "Chunky Bacon") %>

<% @products.each do |product| %>
   <h2 class="title is-4"><%= product.name %></h2>
   <h4 class="sub-title is-4"><%= product.price.format %></h4>

   <p class="content">
     <%= truncate product.description, length: 128 %>
   </p>
 <% end %>
