<%= content_for(:title, "Chunky Bacon") %>

<% @articles.each do |article| %>
  <h2 class="title is-4"><%= article.title %></h2>
  <%= time_tag article.published_at, class: "sub-title is-4", "data-local": "time-ago" %>

   <p class="content">
     <%= truncate article.content, length: 128 %>
   </p>
 <% end %>
